@layout('layouts/main')
@set('title', 'Cadastros')
@set('subtitle', 'Lista:')

@section('body')
<body>
  <main>
    <div>
      {{ user.nome}}, matricula: {{user.matricula}}
    </div>
  </main>
</body>
</html>
@end

